<html>
    <head>
      <title>Irina's blog</title>
    </head>
    <body>
      <h1>Irina's blog</h1>
      <h3>Salut!</h3>
      <p>Primul meu cod lucreaza!</p>
    </body>
</html>
<html>
    <head>
        <title>Irina's blog</title>
    </head>
    <body>
        <div>
            <h2><a href="/">Irina's Blog</a></h1>
        </div>

        <div>
            <h2><a href="">My first post</a></h2>
            <p>Когда-нибудь ты поймешь, что внешний блеск – ничто по сравнению с внутренней красотой. Потому что все, что снаружи – это до первого дождя. То, что внутри – горит всегда. Пусть даже оно угасло до еле-видных угольков.</p>
        </div>

        <div>
            <h2><a href="">My second post</a></h2>
            <p>Когда-нибудь ты поймешь, что доброта, нежность, ласка и забота – это проявление внутренней силы, а не слабости.</p>
        </div>
    </body>
</html>
